{% block content %}
<div id="menu" class="container-md mx-auto p-5">
  <h2 class="text-white mb-3">Dashboard</h1>
    <div class="row gx-5">
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-outline-light btn-lg" 
                href="#passwordchange" onclick="loadPage('update-password-page')">Change Password</button>
      </div>
      <div class="col d-flex justify-content-start">
        <button type="button" class="btn btn-outline-light btn-lg"
                href="#infochange" onclick="loadPage('update-profile-page')">Change Info</button>
      </div>
  </div>
</div>
{% endblock %}