{% block content %}
<div id="menu" class="container-md mx-auto p-5">
	<h2 class="text-white mb-3">Settings</h2>
  	<div id="under-title" class="container my-3">
		<div class="modal-body">
			<form id="settingsForm">

                <!-- Points Needed to Win Game -->
				<div class="form-group mb-2 row">
					<div class="col">
						<label for="scoreToWin">Score to Win</label>
					</div>
					<div class="col">
						<input type="range" class="form-control-range custom-range" id="scoreToWin" min="1" max="10" value="6">
					</div>
				</div>

				<!-- Paddle Speed -->
				<div class="form-group mb-3 row">
					<div class="col">
						<label for="paddleSpeed">Paddle Speed</label>
					</div>
					<div class="col">
						<input type="range" class="form-control-range custom-range" id="paddleSpeed" min="1" max="10" value="3">
					</div>
				</div>
				
				<!-- Ball Speed -->
				<div class="form-group mb-2 row">
					<div class="col">
						<label for="ballSpeed">Ball Speed</label>
					</div>
					<div class="col">
						<input type="range" class="form-control-range custom-range" id="ballSpeed" min="1" max="10" value="4">
					</div>
				</div>

				<!-- Field Dimensions -->
				<div class="form-group mb-2">
					<label for="fieldWidth">Field Width</label>
					<input type="number" class="form-control" id="fieldWidth" min="5" max="30" value="12">
				</div>
				<div class="form-group mb-2">
					<label for="fieldLength">Field Length</label>
					<input type="number" class="form-control" id="fieldLength" min="5" max="30" value="16">
				</div>

				<!-- AI Level -->
				<div class="form-group mb-4">
					<label for="aiLevel">AI Level</label>
					<select class="form-control" id="aiLevel">
						<option value="easy">Easy</option>
						<option value="medium">Medium</option>
						<option value="hard">Hard</option>
					</select>
				</div>

				<!-- Buttons -->
				<button type="button" class="btn btn-outline-light" id="saveSettings" data-dismiss="modal">Save Changes</button>
				<button type="button" class="btn btn-link" id="resetDefaults">Default</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}