{% load crispy_forms_tags %}
<div id="menu" class="container-md mx-auto p-5">
    <h2 class="my-4 display-5 text-white">Update Profile</h1>
        <form id="update-profile-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div id="error-container"></div>
            <div class="mt-3">
                <button type="submit" class="btn btn-outline-light mx-1">Update Profile</button>
                <button type="button" class="btn btn-link" href="#changepassword" onclick="loadPage('update-password-page')">Change Password</button>
            </div>
        </form>
</div>
