{% load crispy_forms_tags %}
<div id="menu" class="container-md mx-auto p-5">
    <h2 class="my-4 display-5">Update Password</h1>
    <div id="profile-update" class="container">
        <form id="update-password-form" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
        </form>
        <div id="error-container"></div>
    </div>
</div>
