#threejs-container {
	position: absolute;
	width: 100vw;
	height: 100dvh;
	z-index: 0;
}

#vertical-line {
	width: 2px;
	height: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 2;
}

#web-app {
	position: absolute;
	z-index: 3;
}

#menu {
	border-radius: 10px;
	box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.5);
	background-color: rgba(230, 230, 230, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	/* text-align: center; */
	opacity: 1;
	transition: opacity 1.5s ease-out;
}

#main-content {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 576px) {
    #gameButtons {
        flex-direction: column;
        align-items: flex-start;
    }

    #gameButtons button {
        margin-bottom: 10px;
    }

	h1 {
		font-size: 1.4rem !important;
	}

	#menu {
		padding: 2rem !important;
	}

}

@media (max-width: 576px) {
	#tournament-mode {
		display: none;
	}
	
	#local-mode {
		display: none;
	}
}


* {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#under-title {
	opacity: 1;
	transition: opacity 1.5s ease;
}

#under-title.fade-out {
	opacity: 0;
}

#under-title.fade-in {
	opacity: 1;
}

#menu.fade-out {
	opacity: 0;
}

#menu.hidden {
	display: none;
}

#game-controls {
	text-align: center;
}

body {
	font-family: 'BaiJamjuree', sans-serif;
	margin: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
}

h2, h3, h4, h5, h6 {
	font-family: 'BaiJamjuree', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'BaiJamjuree', sans-serif;
	font-weight: normal;
}

h1 {
	font-family: 'Yapari', sans-serif;
	color: rgb(255, 255, 255);
}

.font-weight-semi-bold {
	font-weight: 600;
  }
  
.score {
	font-family: 'Bitfont', sans-serif;
	color: white;
}

.form-label,
.form-text,
.btn-link {
	color: white !important;
}


@font-face {
	font-family: 'Bitfont';
	src: url('../fonts/pixelmono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Yapari';
	src: url( ../fonts/YapariTrial-ExtraBold.ttf ) format('truetype');
	/* Add additional font styles (font-weight, font-style) as needed */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url( ../fonts/BaiJamjuree-Regular.ttf ) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url( ../fonts/BaiJamjuree-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url( ../fonts/BaiJamjuree-SemiBold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

#pongCanvas {
	background-color: black;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

