#threejs-container {
	position: absolute;
	width: 100dvw;
	height: 100dvh;
	z-index: 0;
}

#vertical-line {
	width: 2px;
	height: 100dvh;
	background-color: rgb(255, 255, 255);
	z-index: 2;
}

#web-app {
	position: absolute;
	z-index: 3;
}

#menu {
	border-radius: 10px;
	box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.5);
	background-color: rgba(230, 230, 230, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	opacity: 1;
	transition: opacity 1.5s ease-out;
}

#main-content {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 576px) {
    #gameButtons {
        flex-direction: column;
        align-items: flex-start;
    }

    #gameButtons button {
        margin-bottom: 10px;
    }

	h1 {
		font-size: 1.4rem !important;
	}

	#announcement-mid {
		font-size: 0.9rem !important;
	}

    #menu {
		padding: 2rem !important;
	}
}

@media (max-width: 576px) {
	#tournament-mode {
		display: none;
	}
	
	#local-mode {
		display: none;
	}
}

.mobile-device #tournament-mode,
.mobile-device #local-mode,
.mobile-device #friends {
            display: none;
}

* {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#user-name, #user-avatar {
	cursor: pointer;
}

#under-title {
	opacity: 1;
	transition: opacity 1.5s ease;
}

#under-title.fade-out {
	opacity: 0;
}

#under-title.fade-in {
	opacity: 1;
}

#menu.fade-out {
	opacity: 0;
}

#menu.hidden {
	display: none;
}

#game-controls {
	text-align: center;
}

body {
	font-family: 'BaiJamjuree', sans-serif;
	margin: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
}

h2, h3, h4, h5, h6 {
	font-family: 'BaiJamjuree', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'BaiJamjuree', sans-serif;
	font-weight: normal;
}

h1 {
	font-family: 'Yapari', sans-serif;
	color: rgb(255, 255, 255) !important;
}

.font-weight-semi-bold {
	font-weight: 600;
  }
  
.score {
	font-family: 'Bitfont', sans-serif;
	color: white;
}

.form-label,
.form-group,
.form-text,
.btn-link {
	color: white !important;
}


@font-face {
	font-family: 'Bitfont';
	src: url('../fonts/pixelmono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Yapari';
	src: url( ../fonts/YapariTrial-ExtraBold.ttf ) format('truetype');
	/* Add additional font styles (font-weight, font-style) as needed */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url( ../fonts/BaiJamjuree-Regular.ttf ) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url( ../fonts/BaiJamjuree-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url( ../fonts/BaiJamjuree-SemiBold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

#pongCanvas {
	background-color: black;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

.avatar-img {
    width: 30px; 
    height: 30px; 
    object-fit: cover; 
    border-radius: 50%; 
}

.avatar-img.online {
	width: 30px; 
    height: 30px; 
    object-fit: cover; 
    border-radius: 50%; 
    border-color: green; /* Green border for online users */
}

.online-dot {
    display: inline-block;
    width: 10px; /* Adjust the size of the dot here */
    height: 10px;
    border-radius: 50%;
    background-color: green; /* This is the color of the dot */
}

.modal {
	z-index: 1050; /* Ensure this value is higher than your menu's z-index */
  }

/* Custom slider track */
input[type="range"].custom-range {
    -webkit-appearance: none; /* Override default styling */
    width: 100%; /* Full-width */
    height: 4px; /* Height of the track */
    background: #ffffff; /* Track color */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Opacity for the track */
    transition: opacity .15s ease-in-out;
}

input[type="range"].custom-range:hover {
    opacity: 1; /* Increase opacity on hover */
}

/* Custom slider thumb */
input[type="range"].custom-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default styling */
    appearance: none;
    width: 15px; /* Width of the thumb */
    height: 15px; /* Height of the thumb */
    background: hwb(0 100% 0%); /* Thumb color */
    border: 2px solid rgb(255, 255, 255); /* Border color */
	opacity: 1;
    border-radius: 50%; /* Make the thumb circular */
    cursor: pointer; /* Change cursor to pointer */
    transition: background .3s ease-in-out;
}

input[type="range"].custom-range::-webkit-slider-thumb:hover {
    background: #007bff; /* Change thumb color on hover */
}

/* Firefox */
input[type="range"].custom-range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 2px solid hwb(0 100% 0%);
    border-radius: 50%;
    cursor: pointer;
}

/* Internet Explorer */
input[type="range"].custom-range::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
