.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; /* Place behind other content */
	/* Adjust background properties */
	background-image: url( ../images/getty.jpg );
	/* background-color: #33ff55; */
	background-size: cover; /* Adjust to cover the entire screen */
	background-position: center;
}

#main-content {
	background-color: #ff5733;
	text-align: center;
}

body {
	font-family: 'BaiJamjuree', sans-serif;
}

h2, h3, h4, h5, h6 {
	font-family: 'BaiJamjuree', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'BaiJamjuree', sans-serif;
	font-weight: normal;
}

h1 {
	font-family: 'Yapari', sans-serif;
	color: aliceblue;
}

@font-face {
	font-family: 'Yapari';
	src: url( ../fonts/YapariTrial-ExtraBold.ttf ) format('truetype');
	/* Add additional font styles (font-weight, font-style) as needed */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url( ../fonts/BaiJamjuree-Regular.ttf ) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url( ../fonts/BaiJamjuree-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BaiJamjuree';
	src: url( ../fonts/BaiJamjuree-SemiBold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

#pongCanvas {
	background-color: black;
	display: none;
	margin-left: auto;
	margin-right: auto;
}