Django== 4.1 #Django framework
psycopg2== 2.9.9 #PostgreSQL adapter for Python
web3==6.20.2		  # Ethereum
# psycopg2-binary==2.9.9
gunicorn==21.2.0
django_postgres_extensions== 0.9.3
channels==4.0.0
channels-redis==4.2.0
daphne==4.0.0
whitenoise # for serving static files
crispy-bootstrap5 # To integrate Bootstrap 5 with Django forms
# crispy-forms
django-crispy-forms
djangorestframework
pillow # to upload image
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support
django-environ # To read environment variables
# djangorestframework-filters
# django-utils-six
# six

# Twisted[http2,tls]>=22.4 #Twisted with TLS and HTTP/2 support. The [tls,http2] specifies extra dependencies for Twisted.
# djangorestframework==3.14.0 # Django REST framework 
# djangorestframework-simplejwt # which provides JSON Web Token (JWT) authentication support for Django REST framework.
requests # making HTTP requests
# daphne==4.0.0 #This allows you to use WebSockets, long-lived HTTP connections, and other asynchronous protocols in Django.
# channels==4.0.0 #Django Channels allows you to add real-time functionality to your Django applications, such as live notifications, chat applications, and other features that require asynchronous communication.