{% load static %} 
{% block content %}
<div id="menu" class="container-md mx-auto p-5">
  <h1 class="my-4 display-5">TRANSCENDENCE</h1>
  <div id="under-title" class="container my-3 px-4">
    <div class="row gx-5">
      <div class="col d-flex flex-column justify-content-end">
        <button type="button" class="btn btn-outline-light btn-lg" 
                onclick="loadPage('rtimsina')">
          <img src="{% static 'images/rtimsina/rtimsina.jpg' %}" alt="Ramesh Timsina" width="50" height="60" class="me-2">
          Ramesh Timsina
        </button>
        <button type="button" class="btn btn-outline-light btn-lg" 
                onclick="loadPage('hongbaki')">
                <img src="{% static 'images/hongbaki.jpg' %}" alt="Hongbae Kim" width="50" height="60" class="me-2">
                Hongbae Kim
            </button>
        <button type="button" class="btn btn-outline-light btn-lg" 
                onclick="loadPage('mwallage')">
                <img src="{% static 'images/mwallage.jpg' %}" alt="Martijn Wallage" width="50" height="60" class="me-2">
                Martijn Wallage
            </button>
        </div>
      <div class="col d-flex flex-column justify-content-end">
        <button type="button" class="btn btn-outline-light btn-lg" 
                onclick="loadPage('gbussier')">
          <img src="{% static 'images/gbussier.jpg' %}" alt="Guillame Bussier" width="50" height="60" class="me-2">
          Guillame Bussier
        </button>
        <button type="button" class="btn btn-outline-light btn-lg" 
                onclick="loadPage('jubernar')">
          <img src="{% static 'images/jubernar.jpg' %}" alt="Jules Bernard" width="50" height="60" class="me-2">
          Jules Bernard
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
