{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>transcendence</title>
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	  <script type="module" src="{% static 'js/module/3d-pong/3dapp.js' %}" defer></script>
    <script type="module" src="{% static 'js/module/2d-pong/entrypoint.js' %}" defer ></script>
    <script type="module" src="{% static 'js/utils/page-loading.js' %}" defer></script>
  </head>

  <body>
    <div id="threejs-container"></div>
    <div id="web-app">
      <div id="main-content" class="container-fluid"></div></div>
      <h1 class="my-4 display-4">|| pause</h1>
    </div>
    <canvas id="pongCanvas" width="600" height="400" display="none"></canvas>
  </body>
</html>