{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>transcendence</title>
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/score-tournament.css' %}">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"/>
    <script>
      const alchemyApiKey = "{{ alchemy_api_key|escapejs }}";
      const contractAddress = "{{ smart_contract_address|escapejs }}";
      const privateKey = "{{ private_key|escapejs }}";
    </script>
    <script src=" https://cdn.jsdelivr.net/npm/web3@4.11.1/dist/web3.min.js "></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	  <script type="module" src="{% static 'js/game/update.js' %}" defer></script>
    <script type="module" src="{% static 'js/page-loading/page-loading.js' %}" defer></script>
    <script type="module" src="{% static 'js/game/tournament-score-blockchain.js' %}" defer></script>
  </head>

  <body>
    <div id="threejs-container">
    </div>
     <div id="vertical-line" style="display: none;"></div>
    <div id="web-app">
      <div id="main-content" class="container-fluid"></div></div>
    </div>
  </body>
</html>