{% block content %}
{% load static %}
<div>
  <div id="js-leaderboard-div" style="display: none;">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-outline-light btn-lg"
              id="js-leaderboard-close">X</button>
    </div>
    <h2>I'm leader board stuff</h2>
    <h2>----------------------</h2>
    <h2>----------0-0---------</h2>
    <h2>----------___---------</h2>
    <h2>----------------------</h2>
  </div>
  <div class="col d-flex justify-content-end">
    <button type="button" class="btn btn-outline-light btn-lg"
            id="js-leaderboard-btn">Leaderboard</button>
  </div>
  <h1 class="my-4 display-4">Transcendence.</h1>  
    <div class="container px-4">
      <div class="row gx-5">
        <div class="col gx-5">
          <button type="button" class="btn btn-outline-light btn-lg w-100" id="js-start-game-solo-btn"
                  href="#pong_solo" onclick="loadPage('pong_solo')">Solo</button>
        </div>
        <div class="col gx-5">
          <button type="button" class="btn btn-outline-light btn-lg w-100"
                  href="#two_player" onclick="loadPage('two_player')">1 VS 1</button>
        </div>
        <div class="col gx-5">
          <button type="button" class="btn btn-outline-light btn-lg w-100"
                  href="#tournament" onclick="loadPage('tournament')">Tournament</button>
          </div>
    </div>
</div>
{% endblock %}