{% block content %}

<div id="menu" class="container-md mx-auto p-5">
  <h1 class="my-4 display-5">TRANSCENDENCE</h1>
    <div id="under-title" class="container my-3 px-4">
      <div class="row gx-5">
        <div class="col gx-5">
          <button type="button" class="btn btn-outline-light btn-lg w-100" id="js-start-game-solo-btn"
                  href="#pong">Solo</button>
        </div>
        <div class="col gx-5">
          <button type="button" class="btn btn-outline-light btn-lg w-100"
                  href="#two_player" onclick="loadPage('two_player')">1 VS 1</button>
        </div>
        <div class="col gx-5" id ="tournament-mode">
          <button type="button" class="btn btn-outline-light btn-lg w-100"
                  href="#tournament" onclick="loadPage('tournament')">Tournament</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}