{% load static %}
{% block content %}
<div>
    <h1 class="my-4">Transcendence.</h1>
    <div class="container my-5 px-4">
        <div class="row gx-5 justify-content-center">
            <div class="col d-flex justify-content-end">
              <button type="button" class="btn btn-outline-light btn-lg" onclick="loadPage('login')">Login</button>
            </div>
            <div class="col d-flex justify-content-start">
                <button type="button" class="btn btn-outline-light btn-lg" onclick="loadPage('game_mode')">Guest</button>
            </div>
      </div>
</div>
{% endblock %}