{% block content %}
<div id="menu" class="container-md mx-auto p-5">
  <h1 class="my-4 display-5">TRANSCENDENCE</h1>
  <div id="under-title" class="container my-3 px-4">
    <div class="row gx-5">
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-outline-light btn-lg" 
                href="#login" onclick="loadPage('login_user')">Login</button>
      </div>
      <div class="col d-flex justify-content-start">
        <button type="button" class="btn btn-outline-light btn-lg"
                href="#game_mode" onclick="loadPage('game_mode')">Guest</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}