{% block content %}
<div id="menu" class="container-md mx-auto p-5">
    <!-- Mode Selection -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-white" style="padding-right: 50px;">Match History</h2>
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="modeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Select Mode
            </button>
            <ul class="dropdown-menu" aria-labelledby="modeDropdown">
                <li><a class="dropdown-item" id="dropdown-1v1" href="#">1 vs 1</a></li>
                <li><a class="dropdown-item" id="dropdown-vs-online" href="#">1 vs Online user</a></li>
                <li><a class="dropdown-item" id="dropdown-vs-ai"  href="#">Player vs AI</a></li>
                <li><a class="dropdown-item" id="dropdown-tournament"  href="#">Tournament</a></li>
            </ul>
        </div>
    </div>

    <div>
        <!-- Match History Section -->
        <div id="match-history" class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h5 class="text-center mt-2" id="matchTitle">1 vs 1 Matches</h5>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Opponent</th>
                            <th>Score</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody id="matchTableBody"></tbody>
                </table>
            </div>
            <div class="card-footer text-muted text-center">
                Transcendence
            </div>
        </div>
        <!-- Tournament History Section -->
        <div id="tournament-history" class="card shadow-lg" style="display: none;">
            <div class="card-header bg-primary text-white">
                <h5 class="text-center mt-2" id="tournamentTitle">Tournament Matches</h5>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Number of players</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody id="tournamentTableBody">
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-muted text-center">
                Transcendence
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tournamentDetailsModal"   data-bs-backdrop="false"  tabindex="-1" aria-labelledby="tournamentDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="tournamentDetailsLabel">Tournament Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <strong>Tournament Result:</strong> <span id="tournamentResult"></span>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Player 1</th>
                            <th>Player 2</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody id="matchDetailsTableBody"></tbody>
                </table>
                <div id="transaction-info" class="mt-3">
                    <!-- Transaction info will be dynamically inserted here -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="registerOnBlockchainBtn">Register on Blockchain</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
