{% block content %}
<div id="game-controls" class="container-fluid mx-auto p-4 fixed-top text-start">
  <div id="gameButtons" class="col d-flex justify-content-end">
    <button type="button" class="btn btn-outline-light mx-1" id ="js-sound-game-btn">Sound</button>
    <!-- <button type="button" class="btn btn-outline-light mx-1" id ="js-pause-game-btn">Pause</button> -->
    <button type="button" class="btn btn-outline-light mx-1" id ="js-end-game-btn">Exit</button>
    <button type="button" class="btn btn-outline-light mx-1" id ="js-end-game-btn" onclick="loadPage('tournament_score')">Score Tournament</button>
  </div>
</div>

<div id="menu" class="container-md mx-auto p-4" style="display: none;">
  <div id="announcement">
    <h1 id="announcement-l1" class="display-5"></h1>
    <h1 id="announcement-mid" class="display-5" style="font-size: 1.2rem;"></h1>
    <h1 id="announcement-l2" class="display-5"></h1>
  </div>
  <div id="enter" class="text-white mt-4"></div>
  <button type="button" class="btn btn-outline-light mx-auto" id ="js-next-game-btn" style="display: none;">Continue / next game </button>
  <div id="scoreBoard" display="none"></div>
</div>

<div id="game-scores" class="container-fluid mx-auto p-5 fixed-bottom">
  <div class="row gx-5">
    <div id="scoreBoard" display="block"></div>
    <div id="player1-info" class="col d-flex flex-column justify-content-start">
      <div id="player1-score" class="score text-white display-2">0</div>
      <div id="player1-name" class="text-white">Host</div>
      <div class="text-white">127.0.0.1</div>
    </div>
    <div id="player2-info" class="col d-flex flex-column align-items-end">
      <div id="player2-score" class="score text-white display-2">0</div>
      <div id="player2-name" class="text-white">Guest</div>
      <div class="text-white">127.0.0.1</div>
    </div>
  </div>
</div>
{% endblock %}