{% block content %}
<div>
    <h1>PONG PAGE</h1>
    <canvas id="pongCanvas" width="600" height="400" style="display:none;"></canvas>

<script>
    function selectGameMode(mode) {
        if (mode === 'user-vs-user') {
            document.getElementById('gameModeSelection').style.display = 'none';
            document.getElementById('nameInputs').style.display = 'block';
        } else {
            document.getElementById('gameModeSelection').style.display = 'none';
            startGame('Guest', 'Computer', 'user-vs-computer');
        }
    }

    function startGameWithPlayer2() {
        const player2Name = document.getElementById('player2Name').value;
        if (player2Name.trim() === '') {
            alert('Please enter a valid name for Player 2');
        } else {
            const player1Name = '{{ user.username|default:"Guest" }}';
            startGame(player1Name, player2Name, 'user-vs-user');
        }
    }

    function startGame(player1Name, player2Name, mode) {
        document.getElementById('nameInputs').style.display = 'none';
        document.getElementById('gameButtons').style.display = 'block';
        document.getElementById('pongCanvas').style.display = 'block';
        initializeGame(player1Name, player2Name, mode);
    }

    function endGame() {
        var redirecturi = "/";
        window.location.href = redirecturi;
    }
</script>
<script src="{% static 'js/pong.js' %}"></script>
</div>
{% endblock %}