{% block content %}
<div id="menu" class="container-md mx-auto p-4 text-center" style="display: none;">
  <div id="announcement">
    <h1 id="announcement-l1" class="display-5"></h1>
    <h1 id="announcement-mid" class="display-5" style="font-size: 1.2rem;"></h1>
    <h1 id="announcement-l2" class="display-5"></h1>
  </div>
  <div id="enter" class="text-white mt-4"></div>
  <div id="winButtons" class="d-flex justify-content-center">
	<button type="button" class="btn btn-outline-light mx-1" id ="js-next-game-btn" style="display: none;">Continue</button>
	<button type="button" class="btn btn-outline-light mx-1" id ="js-exit-btn" style="display: none;">Finish</button>
  </div>
  <div id="scoreBoard" display="none"></div>
</div>

<div id="game-scores" class="container-fluid mx-auto p-5 fixed-bottom" style="display: none;">
  <div class="row gx-5">
    <div id="scoreBoard" display="block"></div>
    <div id="player1-info" class="col d-flex flex-column justify-content-start">
      <div id="player1-score" class="score text-white display-3">0</div>
      <div id="player1-name" class="text-white">Host</div>
      <div class="text-white">127.0.0.1</div>
    </div>
    <div id="player2-info" class="col d-flex flex-column align-items-end">
      <div id="player2-score" class="score text-white display-3">0</div>
      <div id="player2-name" class="text-white">Guest</div>
      <div class="text-white">127.0.0.1</div>
    </div>
  </div>
</div>
{% endblock %}