{% block content %}
  <h1>Tournament match results</h1>
  <table>
      <thead>
          <tr>
              <th>Match</th>
              <th>Player 1</th>
              <th>Player 2</th>
              <th>Score Player 1</th>
              <th>Score Player 2</th>
          </tr>
      </thead>
      <tbody>
          {% for match in tournament.match.all %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ match.player1.name }}</td>
              <td>{{ match.player2.name }}</td>
              <td>{{ match.player1_score }}</td>
              <td>{{ match.player2_score }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <button type="button" class="btn btn-outline-light mx-1" id ="js-end-game-btn">Exit</button>
  <!-- <button type="button" class="btn btn-outline-light mx-1" id="js-register-blockchain" 
    {% if tournament.transaction_hash %}disabled{% endif %}>Register on Blockchain</button>
  <div id="transaction-info">
    {% if tournament.transaction_hash %}
        <p>Transaction Hash: <a href="https://sepolia.etherscan.io/tx/{{ tournament.transaction_hash }}" target="_blank">{{ tournament.transaction_hash }}</a></p>
    {% else %}
        <p>The score has not been registered on the blockchain yet.</p>
    {% endif %}
</div> -->

{% if tournament.transaction_hash %}
<button type="button" class="btn btn-secondary mx-1" disabled>Registered on Blockchain</button>
<div id="transaction-info">
    <p>Transaction Hash: <a href="https://sepolia.etherscan.io/tx/{{ tournament.transaction_hash }}" target="_blank">{{ tournament.transaction_hash }}</a></p>
</div>
{% else %}
<button type="button" class="btn btn-outline-light mx-1" id="js-register-blockchain">Register on Blockchain</button>
<div id="transaction-info">
    <p>The score has not been registered on the blockchain yet.</p>
</div>
{% endif %}
{% endblock %}