{% block content %}
<div>
    <h1 class="my-4" class="display-4">Transcendence.</h1>
    <h2>Tournament</h2>

    <!-- <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-outline-light" onclick="loadPage('play_against')">Continue</button>
    </div>
     -->
    <div id="leaderboard" display="none">
    </div>

    <div id="announcement" display="none">
      <h2 id="announcementText"></h2>
    </div>

    <div id="gameButtons" style="display:inline-block;">
      <button type="button" class="btn btn-danger"
              onclick="endGame()">End Game</button>
    </div>

    <div id="nameInputsTournament" style="display:block;">
      <div id="playerList"></div> <!-- Container for displaying added players -->
      <input type="text" id="playerNameInput" class="name-input" placeholder="Player Name">
      <button type="button" class="btn btn-primary" id="addPlayerBtn"
              onclick="addPlayer()">Add Player</button>
      <button type="button" class="btn btn-success" id="startTournamentBtn"
              onclick="startTournament()">Start Tournament</button>
    </div>
</div>
{% endblock %}