{% block content %}
<div>
    <h1 class="my-4 display-4">Transcendence.</h1>
    <h2 class="text-white">Tournament</h2>

    <div class="container my-5 px-4">
      <div class="row gx-5">
        <div class="col justify-content-center mx-auto">
          <div class="input-group w-50 mx-auto">
            <input type="text" id="playerNameInput" class="form-control" placeholder="Player Name">
            <button type="button" class="btn btn-outline-secondary" id="addPlayerBtn"
                    onclick="addPlayer()">Add Player</button>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div id="playerList" class="text-white font-weight-semi-bold"></div> <!-- Container for displaying added players -->
        </div>
      </div>
      <div class="row gx-5 justify-content-center">
        <button type="button" class="btn btn-outline-light btn-lg" id="startTournamentBtn"
                href="#pong_tournament" onclick="startTournament(); loadPage('pong_tournament')">Start Tournament</button>
    </div>
</div>
{% endblock %}