{% block content %}
<div id="menu" class="container-md mx-auto p-5">
  <h1 class="my-4 display-5">TRANSCENDENCE</h1>
    
    <div id="under-title" class="container my-3 px-4">
      <div class="row gx-5">
		<div class="col align-items-center justify-content-center">
			<h5 class="text-white font-weight-semi-bold">Tournament players</h5>
			<div id="playerList" class="text-white font-weight-semi-bold"></div> <!-- Container for displaying added players -->
		  </div>
        <div class="col justify-content-center mx-auto">
          <div class="input-group w-75 mx-auto">
            <input type="text" id="playerNameInput" class="form-control" placeholder="Name">
            <button type="button" class="btn btn-outline-secondary" id="js-add-player-btn">Add Player</button>
          </div>
        </div>
      </div>
      <div class="row gx-5">
        <div class="col d-flex align-items-center justify-content-center">
			<div id="error2" class="text-white my-2" style="display: none;">More than 2 players required</div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
			<div id="error" class="text-white my-2" style="display: none;">Please enter a valid name</div>
        </div>
      </div>
      <div class="row gx-5 mt-4 justify-content-center">
        <button type="button" class="btn btn-outline-light btn-lg" id="js-start-tournament-btn"
        href="#pong">Start Tournament</button>
      </div>
</div>
{% endblock %}