{% block content %}
<div id="menu" class="container mx-auto m-5 p-5">
  <h1 class="my-4 display-4">Transcendence.</h1>
  <div id="under-title" class="container my-5 px-4 text-center">
    <div class="row gx-5">
      <div class="col d-flex align-items-center justify-content-center">
        <h5 class="text-white font-weight-semi-bold" id="player1-status">Player 1 : Guest 1</h5>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="input-group w-50">
          <h5 class="text-white font-weight-semi-bold" id="player2-status">Player 2 : looking for match ......</h5>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <!-- <button type="button" class="btn btn-outline-light" id="js-player-ready-btn" >Ready</button> -->
      <!-- <button type="button" class="btn btn-outline-light" id="js-start-user-vs-user-remote-btn" style="display: none;" 
              href="#pong_two_player_online">Continue</button> -->
      <button type="button" class="btn btn-outline-light" id="js-start-user-vs-user-remote-btn"
              href="#pong_two_player_online">Continue</button>
      <!-- <button type="button" class="btn btn-outline-light" id="js-start-user-vs-user-remote-btn" style="display: none;"
              href="#pong_two_player_online">Continue</button> -->
    </div>
  </div>
</div>
{% endblock %}