{% block content %}
<div id="menu" class="container-md mx-auto p-5">
  <h1 class="my-4 display-5">TRANSCENDENCE</h1>
    <div id="under-title" class="container my-3 px-4">
      <div class="row gx-5">
        <div class="col gx-5" id="local-mode">
          <button type="button" class="btn btn-outline-light btn-lg w-100"
                  href="#two_player_local" onclick="loadPage('two_player_local')">Local - leisure</button>
        </div>
        <div class="col gx-5">
          <button type="button" class="btn btn-outline-light btn-lg w-100"
                  href="#two_player_online" onclick="loadPage('two_player_online')">Online - competition</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}