{% block content %}
<div id="menu" class="container-md mx-auto p-5">
  <h1 class="my-4 display-5">TRANSCENDENCE</h1>
  <div id="under-title" class="container my-3 px-4 text-center">
    <div class="row gx-5">
      <div class="col d-flex align-items-center justify-content-center">
        <h5 class="text-white font-weight-semi-bold" id="js-player1-entry">Player 1: {{ username }}</h5>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="input-group w-50">
          <input type="text" id="player2Name" class="form-control" placeholder="Player 2 Name">
        </div>
      </div>
    </div>
    <div class="row gx-5">
      <div class="col d-flex align-items-center justify-content-center">
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div id="error" class="text-white my-2" style="display: none;">Please enter a valid name</div>
      </div>
    </div>
    <div class="d-grid gap-2 mt-4 col-6 mx-auto">
      <button type="button" class="btn btn-outline-light" id="js-start-user-vs-user-btn"
              href="#pong">Continue</button>
    </div>
  </div>
</div>
{% endblock %}