{% block content %}
<div id="menu" class="container mx-auto m-5 p-5">
  <h1 class="my-4 display-4">Transcendence.</h1>
  <div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col d-flex align-items-center justify-content-center">
        <h5 class="text-white font-weight-semi-bold">Player 1 Guest</h5>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="input-group w-50">
          <input type="text" id="player2Name" class="form-control" placeholder="Player 2 Name">
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-outline-light" id="js-start-user-vs-user-btn"
            href="#pong_two_player_local" onclick="loadPage('pong_two_player_local')">Continue</button>
  </div>
</div>
{% endblock %}