{% block content %}
<div id="menu" class="container-md mx-auto p-5">
  <h1 class="my-4 display-5">TRANSCENDENCE</h1>
  <div id="under-title" class="container my-3 px-4 text-center">
    <div class="row gx-5">
      <div class="col d-flex align-items-center justify-content-center">
        <h5 class="text-white font-weight-semi-bold">Player 1 Guest</h5>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="input-group w-50">
          <h5 class="text-white font-weight-semi-bold">Player 2 : looking for match ......</h5>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-outline-light" id="js-start-vs-online-btn"
              href="#pong">Continue</button>
    </div>
  </div>
</div>
{% endblock %}